/* common code  */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.main-header {
    display: flex;
    justify-content: space-around;

    background-color: black;
}


.header-link {
    display: flex;
}

.header-link a {
    list-style-type: none;
    text-decoration: none;
    padding: 15px;
    color: white;
    font-size: 20px;
}

.header-link a:hover {
    color: red;
}

.banner-section {
    background-image: url('./asset/image/background.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;


}

.span {
    color: red;

}


.banner-header {
    font-size: 55px;

}

.banner-description {
    margin: 0 auto;
}

.banner-para {
    padding: 10px;
}

.btn {
    padding: 12px 15px;
    font-size: 20px;
    background-color: rgb(241, 25, 25);
    color: white;
    border: 0;
    margin-right: 5px;
    border-radius: 5px;
}

.btn1 {
    padding: 12px 15px;
    font-size: 20px;
    background-color: rgb(253, 253, 253);
    color: black;
    border: 0px;
    border-radius: 5px;
}

.btn-primary {
    margin: 10px;
}

.profile-container {
    display: flex;
    align-items: center;

}

.profile-header {
    margin: 7px;
    border-right: 2px solid red;
    padding: 20px;
}

.imges {
    border-radius: 100%;
    width: 60px;
}

.author-container {
    display: flex;
}

.New-btn {
    padding: 15px;
    font-size: 20px;
    margin-left: 60px;
    border-radius: 10px;
    height: 60px;
}

.service-container {
    background-image: url('./asset/image/footer-bg.png'),
        linear-gradient(black, black);
    color: white;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 10px;
}

.img {
    width: 70px;
}

.box {
    padding: 20px;
    width: 200px;
    height: 170px;
    color: black;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    margin: 2px;
}



.service-discription {
    width: 50%;
    padding: 10px;
}

.all-box {
    display: flex;
    gap: 2px;
}

.left-side-container {
    margin: 7px;
}


/* contact section  */
.contact-section {
    display: flex;
    width: 900px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    background-image: url('./asset/image/watch.png'), url('./asset/image/gradient1.png');
    background-repeat: no-repeat;
    background-position: center, right;
    background-size: cover;
    height: 150px;
    border-radius: 5px;
    margin-top: -30px;

}

.contack-section-header {
    margin: 10px;
}

/* card section */

.All-card {
    display: flex;


    justify-content: space-around;
    margin: 0 auto;

}

.card {
    width: 270px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px black;
    margin: 20px;

}

.card-head {
    padding: 5px;
}

.card-para {
    padding: 5px;
    margin-bottom: 10px;
}

.card-section {
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.card-img {
    width: 270px;
    height: 200px;
    border-radius: 5px;
}

/* footer section */
footer {
    background-color: black;
    color: white;
}

.footer-section {
    display: flex;
    justify-content: space-around;

}

.para {
    padding: 10px;
}

.footer-logo {
    margin-left: 100px;
}